﻿@using Sandbox;
@using Sandbox.UI;
@namespace FPSKit
@inherits PanelComponent

<root>

    <div class="vitals">
        <div class="health">
            <div class="icon">heart_broken</div>
			<div class="value">@(MathF.Round(Player.Life.Health))</div>
           
        </div>

        <div class="armor">
            <div class="icon">shield</div>
			<div class="value">@(MathF.Round(Player.Life.Armour))</div>
        </div>

    </div>

	@if (Player.Inventory.ActiveItem != null &&	Player.Inventory.ActiveItem.Components.TryGet<GunComponent>(out var guncm))
	{
		var ammo = Player.Ammo.AmmoCount(guncm.PrimaryAmmoType);
		<div class="item">

			<div class="value">@(MathF.Round(guncm.PrimaryClip))</div>

			<div class="subvalue">@ammo</div>
		</div>
	}

    <div class="overlay">
       
    </div>

</root>

@code
{
	[Property] public PlayerComponent Player { get; set; }
    // Update every frame. This is just done as a test, and definitely should not be done.
    protected override int BuildHash() 
	{
		return System.HashCode.Combine(Time.Now);
	}
	


    void GameObjectClicked( ModelRenderer mc )
    {
        mc.Transform.Position += Vector3.Up * 10.0f;
    }
}
