{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "player": "Collide",
    "playershadow": "Collide",
    "nocolthis": "Collide",
    "item": "Collide",
    "nopush": "Collide",
    "physicsshadow": "Collide",
    "debris": "Collide"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "solid",
      "b": "trigger",
      "r": "Collide"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "playershadow",
      "r": "Ignore"
    },
    {
      "a": "nocolthis",
      "b": "nocolthis",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "item",
      "r": "Trigger"
    },
    {
      "a": "playershadow",
      "b": "nopush",
      "r": "Ignore"
    },
    {
      "a": "playershadow",
      "b": "physicsshadow",
      "r": "Ignore"
    },
    {
      "a": "nopush",
      "b": "physicsshadow",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "nopush",
      "r": "Ignore"
    },
    {
      "a": "physicsshadow",
      "b": "physicsshadow",
      "r": "Ignore"
    },
    {
      "a": "playershadow",
      "b": "playershadow",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "physicsshadow",
      "r": "Ignore"
    },
    {
      "a": "nopush",
      "b": "nopush",
      "r": "Ignore"
    },
    {
      "a": "debris",
      "b": "debris",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "debris",
      "r": "Ignore"
    },
    {
      "a": "playershadow",
      "b": "debris",
      "r": "Ignore"
    },
    {
      "a": "physicsshadow",
      "b": "debris",
      "r": "Ignore"
    },
    {
      "a": "nopush",
      "b": "debris",
      "r": "Ignore"
    },
    {
      "a": "playershadow",
      "b": "item",
      "r": "Ignore"
    },
    {
      "a": "item",
      "b": "physicsshadow",
      "r": "Ignore"
    }
  ],
  "__guid": "87e1159a-2509-4a77-8735-bab07f733411",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}